locals.zsh
log/.zsh_history
projects.zsh
custom/
!custom/rvm.zsh
!custom/plugins/example
!custom/example.zsh
!custom/path.zsh
!custom/aliases.zsh
!custom/term.zsh
!custom/example.zshcache
cache
*.swp
